include LICENSE *.py
recursive-include locale *.po 
recursive-include mkvresizer *.mo *.py *.png *.sql
recursive-include man *.1
recursive-include doc *.py Doxyfile index.dox mkvresizer*.png
prune __pycache__
global-exclude *.pyc
